//banner
.banner1{
    width:1220px;
    height:556px;
    background:#ededed;
    margin:0 auto;
    padding-top:24px;
    a{
        text-decoration: none;
        img{
        width:100%;
        border-radius:5px;
        border:1px solid #ccc;
        }
    }
}